# Optional. Use locally in development, tort of the offline dev environment. Default to 5022
# PORT=5022

# Optional. Targeted Verida Network. Defaults to 'testnet'
VERIDA_NETWORK=

# Required. API key for the Notion integration
NOTION_API_KEY=

# Required. ID of the Notion database for the Airdrop 1: Early adopter of Verida Missions
AIRDROP_1_NOTION_DB_ID=

# Required. ID of the Notion database for the Airdrop 2: Galxe and Zealy participants
AIRDROP_2_NOTION_DB_ID=
